    <html>  
      <head>  
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
        <title>velocity Hello world</title>   
      </head>  
        
      <body>  
          ##这就是velocity的语法  
          #set($a="hello world!")  
            
            
          #*  
              这是一个velocity hello world 的多行注释  
          *#  
            
            
          ## 这是一个velocity 的hello world   的多行注释  
           
            velocity $a .  <br>  
      </body>  
    </html>  